table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  background-color: #ddd;

  > thead > tr > th,
  > thead > tr > td {
    border-bottom-width: 2px;
  }
  td,
  th {
    line-height: 1.5;
    padding: 8px;
    text-align: left;
    vertical-align: top;
    color: $article-color;
    // border: 1px solid #dfdfdf;
    font-size: $article-font-size;
  }

  th {
    background-color: #ccc;
  }
  tr:nth-child(2n) {
    background-color: #d5d5d5;
  }
}
